<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Report</title>
</head>

<body>
{% if let Some(r) = report %}

    <section id="top">
        <h1>{{ r.date }}</h1>
        <h2>{{ r.updatedate }}</h2>
    </section>

    <section id="active-time">
        <h2>Active Time</h2>

        <p>{{ r.start }}</p>
        <p>{{ r.finish }}</p>
    </section>

    <section>
        <h2>Note</h2>

        <p style="white-space: pre-wrap;">{{ r.text }}</p>
    </section>

{% else %}

    <div id="not-found">
        <h1>Report Not Found</h1>
        <p>この日の記録はありません</p>
    </div>

{% endif %}
</body>
</html>
